@import 'styles/variables';

.container {
  position: relative;
  padding-top: $l; // for label
}

.input {
  width: 100%;
  padding: $s 0;
  border: none;
  border-bottom: 1px solid $gray;
  background: none;

  font-family: $fontFamily;
  font-size: 21px;
  color: $textColor;

  outline: none;
  appearance: none;
  transition: .2s border-color;
}

.activeInput {
  border-bottom-color: $primaryGreen;
}

.invalidInput {
  border-bottom-color: $red;
}

.label {
  position: absolute;
  left: 0;
  bottom: $s + 2px;

  font-size: 21px;
  color: $gray;

  transition: .3s;
  pointer-events: none;
}

.raisedLabel {
  font-size: $m;
  line-height: $m;
  bottom: calc(100% - #{$m});
}

.forInvalidLabel {
  color: $red;
}

.forActiveLabel {
  color: $primaryGreen;
}
