@import 'styles/variables';

$boxShadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);

.button {
  background: none;
  border: none;
  padding: $s $m;
  border-radius: $xs;
  font-family: $fontFamily;
  font-size: 15px;
  letter-spacing: 1px;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease-out;
  box-shadow: $boxShadow;
}

.primary {
  background: $primaryGreen;
  color: #fff;

  &:hover {
    background: $green;
  }
}

.big {
  width: 100%;
  height: $xxl;
  font-size: 18px;
}

.disabled {
  opacity: .7;
  cursor: not-allowed;
}

.negative {
  background: $darkGray;
}

.asText {
  background: none;
  box-shadow: none;
  color: $textColor;

  &:hover {
    box-shadow: $boxShadow;
    background: $lightGray;
  }
}
