$xs: 4px;
$s: 8px;
$m: 16px;
$l: 24px;
$xl: 32px;
$xxl: 48px;

$fontFamily: 'Rubik', sans-serif;

$softGreen: #43a047;
$primaryGreen: #1B5E20;
$darkGreen: #003300;

$lightGray: #E0E0E0;
$gray: #9E9E9E;
$darkGray:#616161;

$red: #C62828;

$blue: #0288D1;

$textColor: #333;
