@import 'styles/variables';

.modalContainer {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 75%;
  padding: $m;
  background: #fff;
  border-radius: $s;
  box-shadow: 0 $s $l rgba(0, 0, 0, .4);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0 $l 0 0;
}

.closeIcon {
  width: $l;;
  cursor: pointer;
}
